.card-container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.card-img {
  /* width: 18.4rem;  */
}

.social-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.btn-group {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}

@media screen and (min-width: 426px) {
  .card-container {
    max-width: 40rem;
  }
}

@media screen and (min-width: 480px) {
  .btn-group {
    flex-direction: row;
  }
}
